@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

html {
  min-width: 400px;
  background-color: #0c3052;
}

.crimson-font {
  font-family: "Crimson Text", serif !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #818181;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #747474;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #646464;
}

.mora-image {
  width: 60px;
  height: 60px;
}

.characters,
.weapons,
.artifacts,
.abyss {
  width: 96%;
}

.character-card {
  width: 100%;
  .character-image {
    width: 100px;
    height: 100px;
  }
}

.character-banner {
  .character-image {
    width: 150px;
    height: 150px;
  }
  .element-image {
    height: 40px;
    width: 40px;
  }
}

.character-talent-tab {
  .item-image {
    width: 60px;
    height: 60px;
  }
  .talent-text {
    line-height: 60px;
  }
}

.character-ascension-tab {
  .item-image {
    width: 60px;
    height: 60px;
  }
  .ascension-text {
    line-height: 60px;
  }
}

.artifact-card {
  width: 100%;
  .artifact-image {
    width: 100px;
    height: 100px;
  }
}

.artifact {
  hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    width: 225px;
  }
  .artifact-image {
    width: 100px;
    height: 100px;
  }
}

.weapon-card {
  width: 100%;
  .weapon-image {
    width: 100px;
    height: 100px;
  }
}

.weapon {
  .weapon-image {
    width: 120px;
    height: 120px;
  }
  hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    width: 225px;
  }
  .item-image {
    width: 60px;
    height: 60px;
  }
  .ascension-text {
    line-height: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .characters,
  .weapons,
  .artifacts,
  .abyss {
    width: 90%;
  }

  .character-card {
    .character-image {
      width: 145px;
      height: 145px;
    }
  }

  .character-banner {
    .character-image {
      width: 200px;
      height: 200px;
    }
    .element-image {
      height: 60px;
      width: 60px;
    }
  }

  .artifact-card {
    .artifact-image {
      width: 130px;
      height: 130px;
    }
  }

  .artifact {
    .artifact-image {
      width: 140px;
      height: 140px;
    }
  }

  .weapon-card {
    .weapon-image {
      width: 130px;
      height: 130px;
    }
  }

  .weapon {
    .weapon-image {
      width: 130px;
      height: 130px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  html {
    background-image: url("/assets/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .character-card,
  .artifact-card,
  .weapon-card {
    width: calc(50% - 10px - 1px);
  }
}
